ACCESS_TOKEN_SECRET=xxx
REFRESH_TOKEN_SECRET=xxx
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
API_KEY=x-api-key

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_DRIVE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=

NODE_ENV=development
PORT=3000
SECURE_COOKIE=false